html {
    font-size: 10px;
  }

  td {
    font-size: 1.6em;
    margin-right: 2em;
  }

  th {
    font-size: 2.5em;
    text-align: start;
    margin-bottom: 1em;
   
  }

  tr{
  }

  .caption {
    font-size: 3em;
    font-weight: bold;
    text-align: start;
    width: 3em;
    background: lightskyblue;
  }

  .block {
    display: block;
  }

  .inline {
    display: flex;
    font-size: 10px;
    font-weight: normal;
  }

  span {
    font-weight: bold;
  }

  .msgtd{
    margin-bottom: 1em;
  }

  table{
      border: 0em;
  }

  