html {
    font-size: 10px;
  }

  td {
    font-size: 1.6em;
    margin-right: 2em;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  th {
    font-size: 2.5em;
    text-align: start;
    padding-bottom:  20px;
    padding-left: 20px;
  }

  .caption {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    padding-top: 20px;
    background: gray;
  }

  .block {
    display: block;
  }

  tr{
      display: block;
  }

  .inline {
    display: flex;
    font-size: 10px;
    font-weight: normal;
  }

  span {
    font-weight: bold;
  }

  .msgtd{
    margin-bottom: 1em;
  }
  

  .box{
      display: block;
      height: 800px;
  }
  